# EDA on the MIND Dataset

The dataset used in this project can be found on Kaggle: [MIND: Microsoft News Recommendation Dataset](https://www.kaggle.com/datasets/arashnic/mind-news-dataset)

In [ ]:
import pandas as pd
import numpy as np

col_names = ["impression_id", "user_id", "time", "history", "impressions"]
behaviors = pd.read_csv("behaviors.tsv", sep="\t", names=col_names, quoting=3)

col_names = ["id", "category", "subcategory", "title", "abstract", "link", "title_entities", "abstract_entities"]
news = pd.read_csv("news.tsv", sep="\t", names=col_names, quoting=3)


def load_vec_file(path):
    embeddings = {}
    with open(path, "r", encoding="utf-8") as f:
        for line in f:
            parts = line.strip().split()
            if len(parts) <= 2:
                continue
            key = parts[0]
            vec = np.array(list(map(float, parts[1:])))
            embeddings[key] = vec
    return embeddings

entity_embeddings = load_vec_file("entity_embedding.vec")
relation_embeddings = load_vec_file("relation_embedding.vec")

# News and behaviors

In [10]:
behaviors.head()

,impression_id,user_id,time,history,impressions
0,1,U13740,11/11/2019 9:05:58 AM,N55189 N42782 N34694 N45794 N18445 N63302 N104...,N55689-1 N35729-0
1,2,U91836,11/12/2019 6:11:30 PM,N31739 N6072 N63045 N23979 N35656 N43353 N8129...,N20678-0 N39317-0 N58114-0 N20495-0 N42977-0 N...
2,3,U73700,11/14/2019 7:01:48 AM,N10732 N25792 N7563 N21087 N41087 N5445 N60384...,N50014-0 N23877-0 N35389-0 N49712-0 N16844-0 N...
3,4,U34670,11/11/2019 5:28:05 AM,N45729 N2203 N871 N53880 N41375 N43142 N33013 ...,N35729-0 N33632-0 N49685-1 N27581-0
4,5,U8125,11/12/2019 4:11:21 PM,N10078 N56514 N14904 N33740,N39985-0 N36050-0 N16096-0 N8400-1 N22407-0 N6...

In [11]:
news.head()

,id,category,subcategory,title,abstract,link,title_entities,abstract_entities
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...",https://assets.msn.com/labs/mind/AAGH0ET.html,"[{""Label"": ""Prince Philip, Duke of Edinburgh"",...",[]
1,N19639,health,weightloss,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...,https://assets.msn.com/labs/mind/AAB19MK.html,"[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik...","[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik..."
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,https://assets.msn.com/labs/mind/AAJgNsz.html,[],"[{""Label"": ""Ukraine"", ""Type"": ""G"", ""WikidataId..."
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi...",https://assets.msn.com/labs/mind/AACk2N6.html,[],"[{""Label"": ""National Basketball Association"", ..."
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re...",https://assets.msn.com/labs/mind/AAAKEkt.html,"[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI...","[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI..."

First let's remove missing values

In [17]:
print(news.isnull().sum())
print("Total missing:", news.isnull().sum().sum())

id                      0
category                0
subcategory             0
title                   0
abstract             2666
link                    0
title_entities          0
abstract_entities       0
dtype: int64
Total missing: 2666

In [30]:
news = news.dropna(subset=['abstract'])
print(news.isnull().sum())
print("Total missing:", news.isnull().sum().sum())

id                   0
category             0
subcategory          0
title                0
abstract             0
link                 0
title_entities       0
abstract_entities    0
dtype: int64
Total missing: 0

In [29]:
print(behaviors.isnull().sum())
print("Total missing:", behaviors.isnull().sum().sum())

impression_id       0
user_id             0
time                0
history          3238
impressions         0
dtype: int64
Total missing: 3238

In [31]:
behaviors = behaviors.dropna(subset=['history'])
print(behaviors.isnull().sum())
print("Total missing:", behaviors.isnull().sum().sum())

impression_id    0
user_id          0
time             0
history          0
impressions      0
dtype: int64
Total missing: 0

# Entities and Relations

In [13]:
print("Entity example:", list(entity_embeddings.items())[:1])
print("Relation example:", list(relation_embeddings.items())[:1])

Entity example: [('Q41', array([-0.063388, -0.181451,  0.057501, -0.091254, -0.076217, -0.052525,
        0.0505  , -0.224871, -0.018145,  0.030722,  0.064276,  0.073063,
        0.039489,  0.159404, -0.128784,  0.016325,  0.026797,  0.13709 ,
        0.001849, -0.059103,  0.012091,  0.045418,  0.000591,  0.211337,
       -0.034093, -0.074582,  0.014004, -0.099355,  0.170144,  0.109376,
       -0.014797,  0.071172,  0.080375,  0.045563, -0.046462,  0.070108,
        0.015413, -0.020874, -0.170324, -0.00113 ,  0.05981 ,  0.054342,
        0.027358, -0.028995, -0.224508,  0.066281, -0.200006,  0.018186,
        0.082396,  0.167178, -0.136239,  0.055134, -0.080195, -0.00146 ,
        0.031078, -0.017084, -0.091176, -0.036916,  0.124642, -0.098185,
       -0.054836,  0.152483, -0.053712,  0.092816, -0.112044, -0.072247,
       -0.114896, -0.036541, -0.186339, -0.16061 ,  0.037342, -0.133474,
        0.11008 ,  0.070678, -0.005586, -0.046667, -0.07201 ,  0.086424,
        0.026165,  0.030561,  0.077888, -0.117226,  0.211597,  0.112512,
        0.079999, -0.083398, -0.121117,  0.071751, -0.017654, -0.134979,
       -0.051949,  0.001861,  0.124535, -0.151043, -0.263698, -0.103607,
        0.020007, -0.101157, -0.091567,  0.035234]))]
Relation example: [('P31', array([-0.073467, -0.132227,  0.034173, -0.032769,  0.008289, -0.107088,
       -0.031712, -0.039581,  0.101882, -0.106961, -0.053441,  0.068202,
       -0.045584, -0.140448, -0.079402,  0.001022,  0.059921, -0.06251 ,
        0.102848,  0.077947, -0.063644,  0.05007 , -0.01918 ,  0.064456,
       -0.052222,  0.071078, -0.036413, -0.039235,  0.137947,  0.067378,
       -0.137468,  0.103482,  0.121755, -0.006587,  0.063077, -0.024954,
       -0.0313  , -0.056833, -0.139115, -0.05357 ,  0.165815, -0.022143,
        0.006561, -0.108691, -0.149139,  0.080943,  0.054542, -0.034564,
        0.082343, -0.095843, -0.068758,  0.01385 , -0.025589, -0.012451,
        0.116367, -0.066981, -0.006472,  0.136078, -0.057084, -0.066427,
       -0.035916, -0.028447, -0.070395, -0.052364, -0.040038,  0.037342,
       -0.073347,  0.112529,  0.106537,  0.107426,  0.086297,  0.085833,
        0.054393,  0.053187,  0.066242,  0.058507, -0.04718 , -0.086089,
        0.050148,  0.053491, -0.04237 , -0.110435, -0.058929,  0.063987,
       -0.037393, -0.057942, -0.032128,  0.141226, -0.106979,  0.072183,
       -0.045641, -0.050068, -0.053686, -0.045389, -0.037017,  0.11719 ,
       -0.063597, -0.05691 ,  0.058387, -0.114056]))]